p:nth-child(2n + 1) {
  color: green;
}

p:nth-child(2n) {
  color: blue;
}

p::first-letter {
  color: red;
  font-size: 25px;
}

.caja {
  background-color: green;
  width: 30px;
  height: 30px;
}

h1 {
  color: gold;
}
