p:nth-child(2n + 1) {
  color: green;
}

p:nth-child(2n) {
  color: blue;
}

p {
  color: peru;
}

p::first-letter {
  color: red;
  font-size: 25px;
}

.box_one {
  background-color: green;
  width: 30px;
  height: 30px;
  padding: 20px;
  border: 10px solid #50b6;
  box-sizing: border-box;
  margin: 10px, 20px, 30px, 40px;
}

.box_two {
  background-color: peru;
  width: 50px;
  height: 50px;
  border: 10px solid cyan;
  margin: 10px, 20px, 30px, 40px;
}

h1 {
  color: gold;
}

h1::before {
  content: "♥ ";
}

body {
  margin: 0px;
}
