body {
  padding: 5%;
  margin: 0;
  background-image: linear-gradient(#21c08b, #8f57fd);
  min-height: 100vh;
  font-family: "Muli", sans-serif;
}

h1 {
  color: aqua;
}

h1::before {
  content: "✨";
}

h1::after {
  content: "✨";
}

h2 {
  color: lime;
}

img {
  width: 70%;
  margin: auto;
  display: block;
}

footer {
  color: red;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
